body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Apple style font */
    background-color: #f5f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.product-card {
    background: white;
    width: 450px; 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15); 
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img {
    width: 100%;
    height: auto; 
    object-fit: contain; 
    object-position: center; 
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    display : block;
}

.product-title {
    margin: 0 0 10px 0;
    color: #1d1d1f;
    font-weight: 600;
}

button {
    background-color: #0071e3; /* Apple Blue */
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 980px; /* Pill shape */
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 15px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0077ed;
}

.ascuns {
    display: none;
}

.descriere {
    text-align: justify;
    color: #86868b;
    font-size: 0.95rem;
    line-height: 1.4;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
}

.info-data {
    font-size: 0.8rem;
    color: #a1a1a6;
    margin-top: 10px;
}